<div class="container">

    <h2>Working days of waiters</h2>

    <h5 class="green">Enough</h5>
    <h5 class="orange">Still needed</h5>
    <h5 class="red">Over-subscribed</h5>

    <hr>

    <form action="/days" method="GET">

    <table>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>

        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </table>
</form>
    <button class="button-primary" type="submit">Reset</button>


</div>