<div class="container">

    <h2>Working days of waiters</h2>

    <h5 class="green">Enough</h5>
    <h5 class="orange">Still needed</h5>
    <h5 class="red">Over-subscribed</h5>

    <hr>

    <form action="/days" method="GET">

        <table>
            {{#each workingDays}}
            <tr>
                <th class="">
                    {{this.days}}
                </th>
                {{!-- {{/each}} --}}
            </tr>

            <tr>
                {{!-- {{#each waiters}} --}}
                <td>
                    {{this.waiter_name}}
                </td>
            </tr>
            {{/each}}
        </table>
    </form>
    <button class="button-primary" type="submit">Reset</button>


</div>