<div class="container">

    <h2>Working days of waiters</h2>

    <h5 style="color: green;">Enough</h5>
    <h5 style="color: orange;">Still needed</h5>
    <h5 style="color: crimson;">Over-subscribed</h5>

    <hr>

    <form action="/days" method="GET">
        {{!-- <div class="shift"> --}}
        <table>
            <thead>
                <tr>
                    {{#each insert}}
                    <th class="{{color}}">
                        {{day}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{#each insert}}
                    <td>
                        <ul>
                            <li class="">{{this.waiters}}</li>
                        </ul>
                    </td>
                    {{/each}}
                </tr>

            </tbody>
        </table>

        {{!-- </div> --}}

    </form>
    <button class="button-primary" type="submit">Reset</button>
    <br>
    <br>
    <a href="/">
        <button class="button-primary" type="submit">Home</button>
    </a>


</div>