<div class="container">
    <title>Waiters App</title>
    <div>

        <h1 class="h1">Estratweni Café</h1>
        <hr>

        
    <a href="/waiter/"><button class="button primary" type="submit" name="waiter">Waiter</button></a>
<br>
<br>       
    <a href="/days"><button class="button primary" type="submit" name="administrator">Administrator</button></a> 
    
    </div>


</div>
