<div class="container">
    <div>

        <h1>Waiter Availability</h1>
        <hr>

        <form action="/waiter" method="GET">
        
        <button class="button primary" type="submit" name="waiter">Waiter</button>

        </form>

        <form action="/waiter/:username" method="POST">
        
        <button class="button primary" type="submit" name="administrator">Administrator</button>
        
        </form>








    </div>


</div>