<div class="container">

    <h1>Select your working days</h1>
    <hr>

    <h6 class="messages">{{messages.error}}</h6>
    <h6 class="confirm">{{messages.success}}</h6>

    <form action="/waiter/{{this.waiter_name}}" method="POST">

        <br>

        <input type="checkbox" name="weekdays" id="day1" value="Monday">Monday
        <input type="checkbox" name="weekdays" id="day2" value="Tuesday">Tuesday
        <input type="checkbox" name="weekdays" id="day3" value="Wednesday">Wednesday
        <input type="checkbox" name="weekdays" id="day4" value="Thursday">Thursday
        <input type="checkbox" name="weekdays" id="day5" value="Friday">Friday
        <input type="checkbox" name="weekdays" id="day6" value="Saturday">Saturday
        <input type="checkbox" name="weekdays" id="day7" value="Sunday">Sunday
        <br>
        <button class="button-primary" type="submit" name="user">Confirm</button>

    </form>

</div>

<script>
    setTimeout(function () {
        document.querySelector(".messages").innerHTML = "";
        document.querySelector(".confirm").innerHTML = ""
    }, 2000);
</script>