.container {
	width: 90%;
	margin:	auto;
	text-align: center;
	
}

.messages {
	color: crimson;
}

.confirm {
  color: green;
}

.h1 {
 font-style: italic;
 text-shadow: 2px 2px red;

}

table, th, td {
	border: 1px solid black;
  }

  table {
	width: 100%;
  }

.red {
	background-color: crimson;
}

.green {

	background-color: rgb(28, 139, 0);

}
.orange {

	background-color: darkorange;
}

.enough {
	color: green;
}

.needed {
	color: darkorange;
}

.over-subscribed {	
	color: crimson;
}

.shift {
	display: inline-block;
}

li {
	list-style: none;
	display: inline-block;
}